/*
Color palette hexadecimals:

DFDBC8
47422A
302843
241763

*/


body{
  background-color: rgb(223,219,200);
   color: rgb(0, 100, 100); /*Figure out good color combination.*/
  /*Top Right Bottom Left*/
  margin: 5px 480px 10px 480px;
  text-align: center;
  font-size: 20px;
  font-family: "Apple Garamond", "Times New Roman", "Source Serif";
}

p{
}

a{
  
}

ul {
  text-align: center;
  list-style: inside;

h1{
}

h2{
}

h3{
}


