/*
Color palette hexadecimals:

DFDBC8 Off-white background
47422A Text
302843 Headings, Titles
241763 Space Background

*/


body{
  background-color: rgb(223,219,200);
  /*Top Right Bottom Left*/
  margin: auto 325px auto 325px;
  text-align: center;
  font-size: 1.25em;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(71, 66, 42);
}

p{
  
}

a{
  
}

ul {
  text-align: center;
  list-style: inside;

}
h1{
  font-size: 3.75em;
  color: rgb(48, 40, 67);
}

h2{
  font-size: 2em;
  color: rgb(48, 40, 67);
}

h3{
  font-size: 1em;
}


