/*
Color palette hexadecimals:

DFDBC8 Off-white background
47422A Text
302843 Headings, Titles
241763 Space Background

*/



html {
  background-color: rgb(36, 23, 99);
  min-height: 100%;
}


body{
  background-color: rgb(223, 219, 200);
  
  /* Top Right Bottom Left */
  /*Change margins back to 450 px when you can.*/
  margin: 50px 450px 45px 450px;
  text-align: center;
  font-size: 1.25em;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(71, 66, 42);
  min-height: 1080px;
  border-radius: 15px;
  border-style: solid;
  border-width: 15 px;
  border-color: #4A482B;
}




/*~~DIV CLASSES~~*/

/*Center-aligned text for headings, equations, and individual links.*/
.centered {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  white-space:pre;
  
}

/*~~OTHER TEXT CLASSES~~*/

/*Center-justified text for main content paragraphs*/
p {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 70px;
  padding-right: 70px;
}

ul {
  text-align: center;
  list-style: inside;

}

/*Heading One: Article Titles*/
h1{
  font-size: 3.75em;
  color: rgb(48, 40, 67);
}

/*Heading Two: Section Titles*/
h2{
  font-size: 2em;
  color: rgb(48, 40, 67);
}

/*Heading Three: SubsectionTitles*/
h3{
  font-size: 1em;
}
